Set Term="lxterminal"

function("SfwbarInit") {
  SetBarId "panel"
  SetLayer "panel", "bottom"
  SetMonitor "panel", "HDMI-A-1"
  SetBarMargin "5"
  MapIcon "lxtask", "gtk-preferences"
}

MapAppId ".*GNU Image Manipulation Program$", "gimp"


include("winops.widget")

layout {

  include("vmenu.widget")
  include("vdesktop_mv.widget")

  # add a taskbar
  taskbar {
    css = "* { -GtkWidget-vexpand: false;  border-radius: 0px; }"
    sort = false
    icons = true     # display icons
    labels = false   # don't display titles
    cols = 1
    action[3] = Menu "winops"
  }

  label {
    css = "* { -GtkWidget-vexpand: true; }"
  }

  include("vlaunch.widget")

  #include("usage.widget")
 
  #include("xclock.widget")

  grid {
    style = "frame"
      css = "* { background-color: rgba(255, 255, 255, 0.1);  border-radius: 0px 0px 10px 10px; }"
      grid {
        css = "* { -GtkWidget-direction: bottom; }"
        #include("vlaunch.widget")
        include("xclock.widget")
      }
      grid {
        css = "* { -GtkWidget-hexpand: true; }"
        #include("vbat.widget")
        include("vbattery-svg.widget")
        include("vpulse-module.widget")
      }
      grid {
        css = "* { -GtkWidget-hexpand: true; margin-bottom: 6px; }"
        #include("vnetwork.widget")
        include("vnetwork-module.widget")
        include("vtemp.widget")
      }
  }


  #include("weather.widget")
}
#background-color: 
#CSS
window { -GtkWidget-direction: left;
  border-radius: 10px;
  background-color: alpha(white, 0.1);
}

#hidden {
  -GtkWidget-visible: false;
}

button#taskbar_normal *, button#taskbar_active *, button#taskbar_normal:hover * {
  padding: 4px;
  min-height: 32px;
  /*background-color: rgba(255, 255, 255, 0.1);*/
  -GtkWidget-hexpand: true;
}

button#taskbar_normal label, button#taskbar_active label, button#taskbar_normal:hover label {
  min-height: 32px;
  padding: 0px;
}

button#taskbar_normal , button#taskbar_active , button#taskbar_normal:hover {
  min-height: 32px;
  padding: 1px;
  background-image: none;
  border-radius: 0;
  border-image: none;
}

button#taskbar_active {
  background-color: rgba(255, 255, 255, 0.6);
}

button#taskbar_normal:hover {
  background-color: rgba(255, 255, 255, 0.4); 
}

button#menu {
  background-color: transparent;
  border: 1px solid transparent;
  padding: 3px;
  border-radius: 0px;
}

button#launch {
  background-color: transparent;
  border: 1px solid transparent;
  padding: 3px;
  border-radius: 0px;
}

grid#frame {
  -GtkWidget-direction: bottom;
  -GtkWidget-vexpand: false;
  min-height: 1.5cm;
}

grid#layout {
  padding: 1px;
  -GtkWidget-direction: bottom;
}

label {
  font: 14px nunito;
  color: #E0E0E0;
}

tooltip label {
  background-color: #024B46;
}
