Set Term = "lxterminal" # change to suit

function("SfwbarInit") {
  Config "PopUp 'XVolumeWindow' { AutoClose = true }"
}

include("winops.widget")
include("vlaunch.widget")

layout {

  size = "100%"
  layer = "bottom"
  margin = 5

  include("vmenu.widget")
  include("vdesktop_mv.widget")

  # add a taskbar
  taskbar {
    style = "taskbar"
    css = "* { -GtkWidget-vexpand: false;  border-radius: 0px; }"
    sort = false
    icons = true     # display icons
    labels = false   # don't display titles
    cols = 1
    action[3] = Menu "winops"
  }

  label {
    css = "* { -GtkWidget-vexpand: true; }"
  }

  grid {
    style = "frame"
    css = "* { background-color: rgba(255, 255, 255, 0.1); margin: 4px; border-radius: 0px 0px 10px 10px; }"
    grid {
      css = "* { -GtkWidget-direction: bottom; }"
      include("v-clock.widget")
    }
    grid {
      css = "* { -GtkWidget-hexpand: true; }"
      include("mpd-intmod-albumart.widget")
      tray
    }
    grid {
      css = "* { -GtkWidget-hexpand: true; }"
      include("vbattery-svg.widget")
      include("vnetwork-module.widget")
    }
     grid {
       css = "* { -GtkWidget-hexpand: true; }"
       include("vidle.widget")
       include("vtemp.widget")
    }
    grid {
      css = "* { -GtkWidget-hexpand: true; margin-bottom: 6px; }"
      include("clipboard.widget")
      include("volume.widget")
    }
  }
}

#CSS
window { -GtkWidget-direction: left;
  border-radius: 10px;
  background-color: alpha(@theme_bg_color, 0.25);
}

#hidden {
  -GtkWidget-visible: false;
}

button#tray_active,
button#tray_passive,
button#tray_attention {
  background-image: none;
  border: 0px;
  padding: 0px;
  margin: 0px;
  border-image: none;
  border-radius: 0px;
  outline-style: none;
  box-shadow: none;
  -GtkWidget-direction: bottom;
  padding: 2px;
}

button#tray_active image,
button#tray_passive image,
button#tray_attention image {
  min-width: 18px;
  min-height: 18px;
  padding: 2px;
  -ScaleImage-color: @theme_fg_color;
}

button#taskbar_normal *, button#taskbar_active *, button#taskbar_normal:hover * {
  padding: 4px;
  min-height: 32px;
  -GtkWidget-hexpand: true;
}

grid#taskbar button#taskbar_normal:hover,
grid#taskbar button#taskbar_active,
grid#taskbar button#taskbar_normal {
  border-radius: 4px;
  border: 1px solid alpha(@theme_fg_color,0.25);
  border-bottom: 2px solid alpha(@theme_fg_color,0.15);
}

button#taskbar_normal label, button#taskbar_active label, button#taskbar_normal:hover label {
  min-height: 32px;
  padding: 0px;
}

button#taskbar_normal , button#taskbar_active , button#taskbar_normal:hover {
  min-height: 32px;
  padding: 1px;
  background-image: none;
  border-radius: 0;
  border-image: none;
}

button#taskbar_active {
  background-color: rgba(255, 255, 255, 0.6);
}

button#taskbar_normal:hover {
  background-color: rgba(255, 255, 255, 0.4); 
}

button#menu {
  background-color: transparent;
  border: 1px solid transparent;
  padding: 3px;
  border-radius: 0px;
}

button#launch {
  background-color: transparent;
  border: 1px solid transparent;
  padding: 3px;
  border-radius: 0px;
}

grid#frame {
  -GtkWidget-direction: bottom;
  -GtkWidget-vexpand: false;
  min-height: 80px;
  min-width: 48px;
}

grid#layout {
  padding: 1px;
  -GtkWidget-direction: bottom;
}

label {
  font: 12px sans;
  color: @theme_fg_color;
}

tooltip {
  background-color: alpha(@theme_bg_color,0.0);
  border: none;
}

tooltip label {
  background-color: rgba(0, 0, 0, 0.8);
  background-clip: padding-box;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: @theme_fg_color;
}
