# include whatever timezones

layout "world" {
  size = "100%"
  layer = "bottom"
  exclusive_zone = "-1"
  margin = 5

  grid {
    style = "frame"
    css = "* { -GtkWidget-direction: bottom; }"
    label {
      style = "heading"
      value = "WORLD CLOCK"
    }
    label {
      style = "subheading"
      value = "Local Time"
    }
    grid {
      include("analog-Local.widget")
    }
    label {
      style = "subheading"
      value = "Tokyo"
    }
    grid {
      include("analog-Japan.widget")
    }
    label {
      style = "subheading"
      value = "Rome"
    }
    grid {
      include("analog-Rome.widget")
    }
    label {
      style = "subheading"
      value = "Zürich"
    }
    grid {
      include("analog-Zurich.widget")
    }
    label {
      style = "subheading"
      value = "London"
    }
     grid {
      include("analog-London.widget")
    }
    label {
      style = "subheading"
      value = "New York"
    }
    grid {
      include("analog-NewYork.widget")
    }
  }
}

#CSS

window#world {
  -GtkWidget-direction: right;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  background-color: alpha(@theme_bg_color, 0.6);
}

#hidden {
  -GtkWidget-visible: false;
}

grid#frame {
  -GtkWidget-direction: bottom;
  -GtkWidget-vexpand: false;
  -GtkWidget-hexpand: true;
  min-height: 1.5cm;
}

grid#layout {
  padding: 1px;
  -GtkWidget-direction: bottom;
}

label#heading {
  padding-top: 15px;
  padding-bottom: 15px;
  font: 18px Sans;
  font-weight: 400;
  color: @theme_selected_bg_color;
  -GtkWidget-align: 0.5;
  padding-left: 10px;
}

label#subheading {
  padding-top: 12.5px;
  padding-bottom: 5px;
  font: 16px Sans;
  font-weight: 400;
  color: @theme_selected_bg_color;
  -GtkWidget-align: 0.5;
  padding-left: 10px;
}

tooltip {
  background-color: alpha(@theme_bg_color,0.0);
  border: none;
}

tooltip label {
  background-color: rgba(0, 0, 0, 0.8);
  background-clip: padding-box;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: @theme_fg_color;
}
