Set Term = "foot"    # change to suit
Set WeatherTemp = "" # set to "F" or "C", defaults to "C"

layout "sidebar" {
  size = "100%"
  layer = "bottom"
  exclusive_zone = "-1"
  margin = 5

  grid {
    style = "frame"
    css = "* { -GtkWidget-direction: bottom; }"
    label {
      style = "heading"
      value = "C L O C K"
    }
    grid {
      #include("analog-clock.widget")
      #include("analog-Japan.widget")
      include("zigbert-analog-clock.widget")
    }
    label {
      style = "heading"
      value = "S Y S T E M"
    }
    grid {
      label {
        style= "stats"
        value = "Kernel"
        }
      include("kernel.widget")
    }
    grid {
      label {
        style= "stats"
        value = "CPU Temp"
        }
      include("cpu-temp.widget")
    }
    grid {
      label {
        style= "stats"
        value = "RAM"
        }
      include("memory.widget")
    }
     grid {
      label {
        style= "stats"
        value = "DISK usage"
        }
      include("disk-prog.widget")
    }
     grid {
      label {
        style= "stats"
        value = "CPU"
        }
      include("cpu-chart.widget")
    }
    label {
      style = "heading"
      value = "C A L E N D A R"
    }
    grid {
      include("calendar-side.widget")
    }
    label {
      style = "heading"
      value = "M U S I C"
    }
    include("mpd-side.widget")
    include ("albumart.widget")
  }
}

#CSS

window#sidebar {
  -GtkWidget-direction: right;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  background-color: alpha(@theme_bg_color, 0.6);
}

#hidden {
  -GtkWidget-visible: false;
}

grid#frame {
  -GtkWidget-direction: bottom;
  -GtkWidget-vexpand: false;
  -GtkWidget-hexpand: true;
  min-height: 1.5cm;
}

grid#layout {
  padding: 1px;
  -GtkWidget-direction: bottom;
}

#memory progressbar {
  background-color: @theme_bg_color;
}

#memory {
  padding: 4px;
  border: 1px solid @borders;
  -GtkWidget-direction: right;
  -GtkWidget-valign: center;
  -GtkWidget-hexpand: true;
}

#memory trough {
  background-color: @theme_bg_color;  
  min-width: 67.5px;
  min-height: 20px;
}

#memory progress {
  min-height: 20px;
}

label#temp {

  background-color: alpha(@theme_selected_bg_color,0.4);
  min-width: 70px;
  min-height: 20px;  
  -GtkWidget-align: 0.5;
  padding: 4px;
  border: 1px solid @borders;
}

label#stats {
  font: 12px sans;
  color: @theme_fg_color;
  min-width: 150px;
  font-weight: 400;
  -GtkWidget-align: 0;
  padding-left: 10px;
  min-width: 150px; 
}

label#heading {
  padding-top: 15px;
  padding-bottom: 15px;
  font: 18px Sans;
  font-weight: 400;
  color: @theme_selected_bg_color;
  -GtkWidget-align: 0.5;
  padding-left: 10px;
}

label#divide {
  border-bottom: 0.5px dotted;
  color: #787859;
}

tooltip {
  background-color: alpha(@theme_bg_color,0.0);
  border: none;
}

tooltip label {
  background-color: rgba(0, 0, 0, 0.8);
  background-clip: padding-box;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: @theme_fg_color;
}

image#cover {
  background: @theme_selected_bg_color;
  margin-top: 16px;
  margin-left: 96px;
  padding: 4px;
  border: 0.6px solid @borders;
  min-height: 56px;
  min-width: 56px;
  -GtkWidget-halign: end;
}
